body {
  margin: 0;
  padding: 0;
  background: #F5F5F5;
}

header {
  background: rgba(232, 115, 82, 0.84); 
  width: 100%;
  height: 100px;
  margin: 0 auto;
}

header h2 {
  display: inline-block;
}

header .links {
  display: inline-block;
}

.container {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid black;
}

.sample {
  width: 490px;
  border: 1px solid blue;
  height: 400px;

}

.drive_time_image   {
  background: url(../images/drive_time.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  height: 400px;

}

.facebook {
  width: 50px;
  height: 50px;
}
