body {
  margin: 0;
  padding: 0;
  background: rgb(46,164,206);
  position: relative;
}

header {
  background: rgb(39,193,185); 
  width: 100%;
  height: 78px;
  margin: 0 auto;
}

.header_name {
  border-right: 1px solid rgb(232,232,232);
  height: 78px;
  display: inline-block;
  padding-right: 20px;
  line-height: 75px;
}

a {
  color: rgb(39,193,185);
}

.social_link {
  height: 75px;
  border-right: 1px solid rgb(232,232,232);
  font-family: Nixie One;
  display: inline-block;
  line-height: 75px;
  padding-right: 20px;
  padding-left: 20px;
  color: rgb(232,232,232);
  margin-left: -4px;
  margin-top: -1px;

}

.social_link:hover{
    background: rgb(46, 221, 212);
}

header h2 {
  display: block;
  font-family: Nixie One;
  color: rgb(232,232,232);
  margin: 0;


}

header h4 {
  display: block;
  font-family: Nixie One;
  color: rgb(232,232,232);
  margin: 0;
  text-align: center

}

header .links {
  display: inline-block;
}

h2 {
  text-align: center
}

.header_container {
   width: 1000px;
  margin: 0 auto;
  height: 75px;

}

.container {
  width: 1000px;
  margin: 50px auto;
  background: rgb(235, 235, 235);
}

body {
  font-family: Nixie One;
}

.container h1{
  text-align: center;
}

.container p {
  text-align: left;
}

.intro {
  margin-top: 50px;
}
.intro-resume {
  margin-top: 50px;
}
.intro-resume h1 {
  margin: 0px;

  padding-top: 20px; 
}

.intro-resume h3 {
  margin: 0px;
}

.resume-title {
  text-decoration: underline;
  font-size: 18px;
}

.work_sample_container h2{
  text-align: center;
  margin: 50px auto 10px;
}

.sample {
  width: 328px;
  height: 450px;
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;

}

.drive_time_image   {
  background: url(../images/drive_time.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  width: 100%;
  height: 250px;

}
.responsive_image   {
  background: url(../images/responsive.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  width: 100%;
  height: 250px;

}

.to_do_image {
  background: url(../images/what_to_do.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  height: 250px;

}

.container h3{
  text-align: center;
}

.container_bottom_text {
  
  font-family: Nixie One;
  font-size: 12px;
  margin: 4px auto;
  text-align: center;
}

footer {
   background: rgb(39,193,185); 
  width: 100%;
  height: 50px;
  margin: 0 auto;


}

.footer_container {
  width: 1000px;
  margin: 0 auto;
  height: 50px;
}




